$color-primary-gray: #313237;
$color-secondary-gray: #89939a;
$color-icons-placeholders-gray: #b4bdc4;
$color-elements-gray: #e2e6e9;
$color-hover-bg: #fafbfc;
$color-white: #fff;
$color-green: #27ae60;
$color-red: #eb5757;

$header-height: 64px;
$footer-heigth: 96px;
